.u-section-1 .u-sheet-1 {
  min-height: 496px;
}

.u-section-1 .u-image-1 {
  width: 67px;
  height: 67px;
  margin: 54px 155px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: -59px 13px 0 auto;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 28px 0 0 auto;
  padding: 10px 73px;
}

.u-section-1 .u-text-2 {
  width: 871px;
  font-size: 4.5rem;
  margin: 26px auto 0;
}

.u-section-1 .u-text-3 {
  width: 871px;
  font-size: 1.125rem;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    border-style: none;
    margin-top: 27px;
    padding: 14px 76px 15px 75px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-top: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 68px;
    height: 68px;
    margin-right: 160px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -60px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 15px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-top: 29px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    font-size: 3rem;
    margin-top: 46px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 45px;
    height: 45px;
    margin-top: 50px;
    margin-right: 74px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: -33px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 32px;
    padding: 7px 23px 8px 21px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    font-size: 1.875rem;
    margin-top: 27px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
    font-size: 0.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 724px;
  margin-top: 60px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-gallery-1 {
    height: 598px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1151px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1045px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3297px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 100px;
    height: 3191px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2147px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2041px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 643px;
}

.u-section-3 .u-text-1 {
  margin: 7px auto 0;
}

.u-section-3 .u-slider-1 {
  min-height: 431px;
  width: 893px;
  margin: 11px auto 60px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  width: 191px;
  margin: 35px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-5 {
  width: 191px;
  margin: 35px auto 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 35px;
  height: 35px;
}

.u-section-3 .u-carousel-control-2 {
  width: 35px;
  height: 35px;
}

@media (max-width: 991px) {
  .u-section-3 .u-slider-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-slider-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-top: 141px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 565px;
    height: auto;
    margin-top: -137px;
    margin-bottom: 8px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}